*.pdf filter=lfs diff=lfs merge=lfs -text
img/69ebc9f516fbfcafe-cremoso.jpg filter=lfs diff=lfs merge=lfs -text
img/banner-site.jpg filter=lfs diff=lfs merge=lfs -text
img/bife.jpg filter=lfs diff=lfs merge=lfs -text
img/cafe-com-leite.jpg filter=lfs diff=lfs merge=lfs -text
img/cafe-cremoso.jpg filter=lfs diff=lfs merge=lfs -text
img/cafe-gelado.jpg filter=lfs diff=lfs merge=lfs -text
img/cappuccino.jpg filter=lfs diff=lfs merge=lfs -text
img/fettuccine.jpg filter=lfs diff=lfs merge=lfs -text
img/logo-blackout-horizontal.jpg filter=lfs diff=lfs merge=lfs -text
img/logo-blackout.jpg filter=lfs diff=lfs merge=lfs -text
img/prato-frango.jpg filter=lfs diff=lfs merge=lfs -text
img/prato-peixe.jpg filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSans-Bold.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSans-BoldOblique.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSans-Oblique.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSans.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSansMono-Bold.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSansMono-BoldOblique.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSansMono-Oblique.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSansMono.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSerif-Bold.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSerif-BoldItalic.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSerif-Italic.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/lib/fonts/DejaVuSerif.ttf filter=lfs diff=lfs merge=lfs -text
vendor/dompdf/dompdf/tests/_files/jamaica.jpg filter=lfs diff=lfs merge=lfs -text
